h1 {
  color: #622FBD;
  font-family: "Lucida Sans";
  font-size: 3em;
  text-shadow: 0 0 10px #fff, 0 0 3em #fff, 0 0 3em #fff; }

h2 {
  color: #622FBD;
  font-family: "Lucida Sans";
  font-size: 2em; 
  text-align: center;
  padding-top: 1em;}
  
a {
  text-decoration: none; }

body {
  background-color: #8ddc8e;
  font-family: Verdana, sans-serif;
  font-style: normal; }

p {
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 1em;
  display: flex;
  justify-content: center; }

img {
  border-radius: 10%; }

/*Clases*/

.disclaimer {
  display: none; }

.contenedor {
  background-color: #5ab65c;
  color: #622FBD;
  font-style: normal;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0.05em solid #fff;
  border-radius: 1em; }

  .logoTrebol {
    padding-right: 1em;
    padding-left:1em;
    padding-top: 1em;
    width: 150px;
     }
 